<div [ngClass]="{ 'app-dark-theme': isDarkTheme | async }" fxFlexFill>
  <div class="mat-app-background wrapper" fxFlex>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <!-- Nav toggle -->
        <button (click)="sidenav.toggle()" mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>

        <!-- Settings toggle -->
        <button [matMenuTriggerFor]="appSetting" mat-icon-button>
          <mat-icon>person</mat-icon>
        </button>
        <mat-menu #appSetting="matMenu">
          <!--          <button (click)="toggleTheme()" mat-menu-item>-->
          <!--            <mat-icon>brightness_medium</mat-icon>-->
          <!--            <span>Theme</span>-->
          <!--          </button>-->
          <mat-slide-toggle
            class="mat-menu-item"
            [checked]="isDarkTheme | async"
            (click)="$event.stopPropagation()"
            (change)="toggleDarkTheme($event.checked)"
          >
            Dark Theme
          </mat-slide-toggle>
        </mat-menu>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-sidenav-container fxFlex>
      <mat-sidenav #sidenav class="sidenav">
        <mat-nav-list>
          <a mat-list-item (click)="sidenav.toggle()">Close</a>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
